h1,h3{
  margin-top: 0px;
  margin-left: 10px;
}

#juegos-slider-wrapper{
  float: left;
  width: 60%;
}

.juegos-slider{
  position: relative;
  width: 100%;
  margin-bottom: 50px;
  background: var(--azul-claro);
  border-radius: 10px;
  padding-bottom: 30px;
  box-sizing: border-box;
  box-shadow: -4px -4px 0 var(--azul) inset;
  height: 480px;
}

.juegos-slider-info h3{
  width: 90%;
  line-height: 40px;
  display: block;
  margin:auto;
}

.ant, .sig{
  position: absolute;
  border: none;
  bottom: 50%;
  transform: translateY(50%);
  background-color: var(--magenta);
  background-size: 40%;
  background-repeat:no-repeat;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  box-shadow: -4px -4px 0 var(--magenta-claro) inset;
  z-index: 1;
  transition: 0.2s;
}

.ant{
  background-image: url("../img/flecha-izq.svg");
  left: 0;
  background-position: 15px 10px;
}

.sig{
  background-image: url("../img/flecha-der.svg");
  right: 0;
  background-position: 17px 10px;
}

.slider{
  position: relative;
  width: 90%; 
  margin: auto ;
  box-sizing: border-box;
}

.slider-juego{
  position: absolute;
  transition: 0.5s;
}

.slider-juego img{
  width: 100%;
  border-radius: 10px;
}

.slider-info{
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: var(--gris);
  border-radius: 0 0 10px 10px;
  color: var(--blanco);
}
.slider-info h3, .slider-info p{
  margin: 0 0 0 10px;
}

/*lista*/

#juegos-populares{
  float: left;
  width: 35%;
  background: var(--amarillo-claro);
  margin-left: 5%;
  padding: 10px;
  box-sizing:border-box;
  border-radius: 10px;
  box-shadow: -4px -4px 0 var(--magenta) inset;
}

#juegos-populares-lista{
  margin: 0;
  padding: 0;
}

.juegos-populares-lista-juego{
  padding: 0;
  list-style: none;
  width: 100%;
  height: 80px;
  margin-bottom: 10px;
  background: var(--amarillo);
  border-radius: 10px;
  box-shadow: -4px -4px 0 var(--magenta-claro) inset;
}

.juegos-populares-lista-juego img{
  height: 100%;
  float:left;
  border-radius: 10px 0 0 10px;
}

.lista-juego-info{
  float: left;
  position: relative;
  height: 100%;
  overflow: hidden;
}

.lista-juego-info h4, .lista-juego-info p{
  padding: 0;
  margin: 10px;
}


main{
  height: 1200px;
}