h1,h3{
  margin-top: 0px;
  margin-left: 10px;
}

.slide-show{
  height: 495px;
  width: 100%;
  box-sizing:border-box;
}

.capa-slide-show{
  height: 100%;
  width: 100%;
}

.caja-grande-slide-show{
  width: 66.66%;
  height: 100%;
  float: left;
  position: relative;
}

.caja-grande-slide-show .portada{
  height: 100%;
}

.vidrio-grande{
  display: block;
  position: absolute;
  height: 40%;
  width: 100%;
  overflow: hidden;
  bottom:0;
  z-index: 0;
  background-color: var(--gris);
}

.vidrio-grande img{
  position: relative;
  width: 100%;
  top: -140%;
  filter: blur(10px);
  opacity: 0.5;
}

.info-grande-slideshow{
  position: absolute;
  width: 100%;
  height: 40%;
  bottom: 0;
  z-index:1;
  color: var(--amarillo);
  overflow: hidden;
}

.caja-grande-slide-show::after{
  content:'';
  box-shadow: -2px 4px 0 inset var(--blanco);
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
}

.caja-chica-slide-show{
  position: relative;
  width: 33.33%;
  height: 50%;
  background: green;
  float: left;
  overflow: hidden;
}

.caja-chica-slide-show .portada{
  height: 100%;
}


.caja-chica-slide-show::after{
  content:'';
  box-shadow: 2px 4px 0 inset var(--blanco);
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top:0;
}

.info-chico-slideshow{
  position: absolute;
  width: 100%;
  height: 25%;
  bottom: 0;
  z-index:1;
  color: var(--magenta);
  overflow: hidden;
}

.vidrio-chico{
  display: block;
  position: absolute;
  height: 25%;
  width: 100%;
  overflow: hidden;
  bottom:0;
  z-index: 0;
  background-color: var(--gris);
}

.vidrio-chico img{
  position: relative;
  width: 100%;
  top: -300%;
  filter: blur(10px);
  opacity: 0.5;
}








@media only screen and (max-width: 600px){
  .info{
    display: none;
  }
  .bloques_slide{
    width: 90%;
    height: auto;
    margin: auto;
  }
  
  .bloques_slide a{
    width: 100%;
    height: 100%;
    color: var(--color4);
  }
  
  .bloques_slide img{
    max-width: 100%;
    border-radius: 10px;
  }
  
  .izq{
    left:0px;
    border-radius: 10px;
  }
  .der{
    right: 0px;
    border-radius: 10px;
  }
  
}

@media (min-width: 601px) and (max-width: 1024px) {
  .bloques_slide{
    width: 100%;
  }
  .bloques_slide img{
    float: right;
    display: block;
    margin: auto;
    max-width: 30%;
    height: auto;
    border-radius: 10px;
  }
  .info{
    display: block;
    max-width: 60%;
    float: none;
    font-size: 0.8em;
  }
  button{
    width: 50px;
  }
  .izq{
    left: 100px;
    top: 100%;
    border-radius: 10px;
  }
  .der{
    right: 100px;
    top:100%;
    border-radius: 10px;
  }
}



