h1,h3{
  margin-top: 0px;
  margin-left: 10px;
}

#juegos-slider-wrapper{
  float: left;
  width: 60%;
}

.juegos-slider{
  position: relative;
  width: 100%;
  margin-bottom: 50px;
  background: var(--azul-claro);
  border-radius: 10px;
  box-shadow: -4px -4px 0 var(--azul) inset;
}

.slider-juego{
  position: relative;
}

.slider{
  position: relative;
  width: 90%; /*temporal*/
  margin: auto;
  padding: 10px;
  box-sizing: border-box;
}

.slider-juego img{
  width: 100%;
  border-radius: 10px;
}

.slider-info{
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: var(--gris);
  border-radius: 0 0 10px 10px;
  color: var(--blanco);
}

/*lista*/

#juegos-populares{
  float: left;
  width: 35%;
  background: var(--amarillo-claro);
  margin-left: 5%;
  padding: 10px;
  box-sizing:border-box;
  border-radius: 10px;
  box-shadow: -4px -4px 0 var(--magenta) inset;
}

#juegos-populares-lista{
  margin: 0;
  padding: 0;
}

.juegos-populares-lista-juego{
  padding: 0;
  list-style: none;
  width: 100%;
  height: 80px;
  margin-bottom: 10px;
  background: var(--amarillo);
  border-radius: 10px;
  box-shadow: -4px -4px 0 var(--magenta-claro) inset;
}

.juegos-populares-lista-juego img{
  height: 100%;
  float:left;
  border-radius: 10px 0 0 10px;
}

.lista-juego-info{
  float: left;
  position: relative;
  height: 100%;
  overflow: hidden;
}

.lista-juego-info h4, .lista-juego-info p{
  padding: 0;
  margin: 10px;
}


main{
  height: 1000px;
}