#estrellas img{
  height: 100%;
  display: block;
  height: 20px;
  float: left;
  margin-left:0;
  margin-right: 5px;
}

#info{
  display: inline-block;
}

.columna-der{
  padding: 10px;
  float: right;
  width: 200px;
  background-color: #F5F7F8;
  border-radius: 10%;
  box-shadow: 0px 0px 10px #BDCAD5;
}

.columna-der img{
  border-radius: 10%;
  width: 200px;
}

#compra a{
  background-color: #4D81AC;
  box-shadow:  0px 0px 10px #BDCAD5;
  text-decoration: none;
  color: #F5F7F8;
  padding: 5px;
  border-radius: 10px;
  float: right;
}


.contenedor{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow: auto;
    align-items: center;
  }
  
  .contenedor img{
    display:inline-block;
    height: 250px; 
    margin-right: 20px; 
}
  