h1{
  margin-top: 0px;
  margin-left: 10px;
}

form{
  margin: 0 10px;
}

p{
  margin: 20px 10px;
}

input{
  display: block;
  width: 40%;
  margin: 8px 0;
  box-sizing: border-box;
  resize: none;
  border-style: none;
  border-radius: 10px;
  padding: 10px;
  font-family: inherit;
  font-size: inherit;
  background-color: var(--amarillo);
  box-shadow: -4px -4px 0px var(--magenta-claro) inset;
  transition: 0.2s;
  color:var(--negro);
}

input:hover{
  background-color: var(--amarillo-claro);
  box-shadow: -4px -4px 0px var(--magenta) inset;
}

input:focus{
  outline: none;
  background-color: var(--amarillo-claro);
  box-shadow: -4px -4px 0px var(--azul) inset;
}

form button{
  margin-top: 40px;
  display: block;
  font-family: inherit;
  font-size: inherit;
  border-style: none;
  padding: 10px 20px;
  background-color: var(--amarillo);
  box-shadow: -4px -4px 0px var(--magenta-claro) inset;
  border-radius: 10px;
  transition: all 0.2s;
  color: var(--negro);
}

form button:hover{
  box-shadow: -4px -4px 0px var(--magenta) inset;
  background-color: var(--amarillo-claro);
}

form button:focus{
  box-shadow: -4px -4px 0px var(--azul) inset;
}

@media only screen and (max-width: 600px){
  form{
    display: block;
    padding: 5px;
  }
  input{
    width: 100%;
  }
  form button{
    width: 50%;
    margin: 40px auto;
  }
}


@media (min-width: 601px) and (max-width: 1024px) {
  form{
    display: block;
    padding: 5px;
  }
  input{
    width: 100%;
  }
  form button{
    width: 50%;
    margin:40px auto;
  }
}
