@import url('https://fonts.googleapis.com/css?family=Poppins');

/*Variables de colores*/
:root{
  /*Colores principales*/
  --azul: #3A9FFF;
  --magenta: #FF3165;
  --amarillo: #FFDF38;
  /*Colores principales - claros*/
  --azul-claro: #BADDFF;
  --magenta-claro: #FF92AD;
  --amarillo-claro: #FFEF99;
  /*Sombras*/
  --negro: #07090A;
  --gris: #222A31;
  --blanco: #FFFFFF;
}
/*---*/

#logo{
  height: 80px;
  background: var(--amarillo);
}

#logo img{
  height: 100%;
  display: block;
  margin: 0 auto;
}

body {
  margin: 0px 0px 0px 0px;
  height: 100%;
  font-family: "Poppins","nunito",helvetica, sans-serif;
  background: linear-gradient(45deg, var(--magenta-claro), var(--amarillo-claro), var(--azul-claro));
  color: var(--negro);
  font-size: 16px;
}

main{
  background-color: var(--blanco);
  max-width: 1060px;
  margin: 0 auto;
  padding: 40px 60px;
  box-shadow: 0 0 0 4px var(--azul);
}

header{
  box-shadow: 0 0 4px var(--gris);
  position: relative;
}

nav{
  border-top: solid 3px var(--magenta);
  position: relative;
  font-size: 0;
  background: linear-gradient(90deg, var(--azul)20%, var(--blanco));
  padding: 0;
  overflow: hidden;
}

nav a{
  position: relative;
  font-size: 18px;
  transition: all 0.2s;
  color: var(--negro);
  text-align: center;
  padding: 0px 15px;
  text-decoration: none;
  height: 40px;
  display: inline-block;
  line-height: 38px;
}

nav a:hover{
  background-color: var(--azul-claro);
  z-index: 2;
}

#apretado{
  background-color: var(--magenta);
}

#apretado:hover{
  background-color:  var(--magenta-claro);
}

footer{
  position: relative;
  margin-bottom: 0;
  width: 100%;
  background-color: var(--negro);
  color: var(--azul-claro);
  padding-top: 100px;
  box-shadow: 0 0 10px var(--gris);
  bottom:0px;
}

footer::after{
  content: '';
  background: linear-gradient(90deg, var(--magenta), var(--amarillo), var(--azul));
  height: 5px;
  width: 100%;
  display: block;
}

.nav-footer{
  display: inline-block;
  list-style: none;
  margin-left: 10px;
  padding: 10px;
  position: absolute;
  bottom: 0px;
}

footer a{
  color: var(--azul-claro);
  text-decoration:none;
}

footer a:hover{
  color: var(--magenta);
}

.info-personal{
  display: block;
  text-align: right;
  font-size: 0.8em;
  padding: 10px;
}
.info-personal p{
  margin: 5px 5px 0px 5px;
}



@media only screen and (max-width: 600px){
  #logo{
    display: none;
  }
  main{
    width: 100%;
    padding: 0px;
    box-shadow: none;
  }
  nav{
    padding:  10px 0;
    border-style: none;
  }
  nav a{
    display: inline-block;
    transition: none;
    padding: 10px 5px;
    margin: 0px
  }
  nav a:hover{
    padding: 10px 5px;
  }
  p{
    padding: 10px;
  }
  h1, h3{
    padding: 10px;
    text-align: center;
  }
}


@media (min-width: 601px) and (max-width: 1024px) {
  main{
    width: 100%;
    padding: 40px 0;
  }
}
